<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{% static 'mpa/images/favicon_1.ico' %}">

        <title>Moltran - Responsive Admin Dashboard Template</title>

        <link href="{% static 'mpa/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/core.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/components.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/pages.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/menu.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'mpa/css/responsive.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'mpa/js/modernizr.min.js' %}"></script>
<script>








</script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading">
                   <h3 class="text-center m-t-10 text-white"> 创建账户 </h3>
                </div>


                <div class="panel-body">
                <form class="form-horizontal m-t-20" action="index.html">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="email" required="" placeholder="邮箱">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="text" required="" placeholder="用户名">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="password" required="" placeholder="密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="password" required="" placeholder="确认密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox" checked="checked">
                                <label for="checkbox-signup">
                                    我已阅读并同意 <a href="#">条款</a>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">注册</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/mpa/login">已有账户?</a>
                        </div>
                    </div>
                </form>
                </div>

            </div>
        </div>


    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="{% static 'mpa/js/jquery.min.js' %}"></script>
        <script src="{% static 'mpa/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'mpa/js/detect.js' %}"></script>
        <script src="{% static 'mpa/js/fastclick.js' %}"></script>
        <script src="{% static 'mpa/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'mpa/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'mpa/js/waves.js' %}"></script>
        <script src="{% static 'mpa/js/wow.min.js' %}"></script>
        <script src="{% static 'mpa/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'mpa/js/jquery.scrollTo.min.js' %}"></script>

        <script src="{% static 'mpa/js/jquery.app.js' %}"></script>
	
	</body>
</html>